<div id="login-form">
    <form class="auth-col form-horizontal"  method="POST" action="/j_spring_security_check">
        <fieldset>
            <legend>Вход</legend>
            <div class="form-group">
                    <div class="input-group col-lg-10 col-lg-offset-2">
                        <span class="input-group-addon"><img src="./resources/img/icon-email.png"></span>
                        <input type="email" ng-model="LoginForm.email" autocomplete="off" name="username" class="form-control" id="inputLoginEmail"
                               placeholder="e-mail" required>
                    </div>
            </div>

            <div class="form-group">

                <div class="input-group col-lg-10 col-lg-offset-2">
                    <span class="input-group-addon"><img src="./resources/img/icon-pass.png"></span>
                    <input type="password" ng-model="LoginForm.password"  autocomplete="off" name="password" class="form-control" id="inputLoginPas"
                           placeholder="пароль" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-3">
                    <button  type="submit" class="btn btn-info">Войти</button>
                    <button class="btn btn-default" ng-click="reg()">Зарегистрироваться</button>
                </div>
            </div>
        </fieldset>
    </form>


    <div class="auth-col">
        <div class="login-icons">
            <div id="uLogincc8fbc96"
                 x-ulogin-params="display=buttons;
                 fields=first_name,last_name,nickname,sex,bdate,email;
                 optional=phone,city,country;
                 verify=1;
                 providers=google,vkontakte,facebook,mailru,odnoklassniki;
                 hidden=twitter,yandex,livejournal,openid,lastfm,linkedin,liveid,soundcloud,steam,flickr,uid,youtube,webmoney,foursquare,tumblr,googleplus,dudu,vimeo,instagram;
                 redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Flogin_callback">
                <img src="/resources/img/icon-vk.png" x-ulogin-button="vkontakte"/>
                <img src="/resources/img/icon-fb.png" x-ulogin-button="facebook"/>
                <img src="/resources/img/icon-google.png" x-ulogin-button="google"/>
            </div>

        </div>
    </div>
</div>