<div id="reg-form">
    <form name="userInfoForm" ng-controller="UserInfo" class=" form-horizontal auth-col" >

        <fieldset>
            <legend>Данные пользователя</legend>
            <div class="form-group">
                <label for="inputLogin" class="col-lg-2 control-label">Логин</label>
                <div class="col-lg-10">
                    <input name="login" ng-model="info.login" required type="text" class="form-control" id="inputLogin">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPass" class="col-lg-2 control-label">Пароль</label>
                <div class="col-lg-10">
                    <input name="pass" ng-model="info.pass" required type="text" class="form-control" id="inputPass">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLogin" class="col-lg-2 control-label">Повторите пароль</label>
                <div class="col-lg-10">
                    <input name="pass2"     ng-model="info.pass2" required type="text" class="form-control" id="inputLogin">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLogin" class="col-lg-2 control-label">Ф.И.О.</label>
                <div class="col-lg-10">
                    <input name="fio"       ng-model="info.fio" required type="text" class="form-control" id="inputLogin">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLogin" class="col-lg-2 control-label">Пол</label>
                <div class="col-lg-10">
                    <input name="sex"       ng-model="info.sex" required type="text" class="form-control" id="inputLogin">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLogin" class="col-lg-2 control-label">Дата рождения</label>
                <div class="col-lg-10">
                    <input name="birthday" ng-model="info.birthday" required type="text" class="form-control" id="inputLogin">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLogin" class="col-lg-2 control-label">Никнейм</label>
                <div class="col-lg-10">
                    <input name="supername" ng-model="info.supername" required type="text" class="form-control" id="inputLogin">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLogin" class="col-lg-2 control-label">Эл.почта</label>
                <div class="col-lg-10">
                    <input name="email" ng-model="info.email"   required type="text" class="form-control" id="inputLogin">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-10">
                    <button type="submit" class="btn btn-primary btn-save" ng-click="save(info, userInfoForm)">Сохранить</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

