<div id="reg-form">
    <form name="userInfoForm" class=" form-horizontal auth-col" >

        <fieldset>
            <legend>Данные пользователя</legend>

            <div class="form-group">
                <label for="inputFio" class="col-lg-2 control-label">Ф.И.О.</label>
                <div class="col-lg-10">
                    <input name="userFullName" ng-model="info.userFullName" required type="text" class="form-control" id="inputFio">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Пол</label>
                <div class="col-lg-3">
                    <div class="radio radio-primary">
                        <label>
                            <input type="radio" name="sex" value="0" ng-model="info.sex">
                            Мужской
                        </label>
                    </div>
                    <div class="radio radio-primary">
                        <label>
                            <input type="radio" name="sex" value="1" ng-model="info.sex">
                            Женский
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputBirthday" class="col-lg-2 control-label">Дата рождения</label>
                <div class="col-lg-4"  ng-controller="DatepickerCtrl">

                    <p class="input-group">
                        <input name="birthday" type="text" class="form-control datepicker" datepicker-popup="{{format}}" id="inputBirthday" ng-model="info.birthday" is-open="opened" date-disabled="disabled(date, mode)" datepicker-options="dateOptions" close-text="Close" />

                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Никнейм</label>
                <div class="col-lg-10">
                    <input name="userName" ng-model="info.userName" required type="text" class="form-control" id="inputName">
                </div>
            </div>
            <div class="form-group">
                <label for="inputMail" class="col-lg-2 control-label">Эл.почта</label>
                <div class="col-lg-10">
                    <input name="email" ng-model="info.email"   required type="text" class="form-control" id="inputMail">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPhone" class="col-lg-2 control-label">Телефон</label>
                <div class="col-lg-10">
                    <input name="phone" ng-model="info.phone"   required type="text" class="form-control" id="inputPhone">
                </div>
            </div>
            <div class="form-group">
                <label for="inputCountry" class="col-lg-2 control-label">Страна</label>
                <div class="col-lg-10">
                    <input name="country" ng-model="info.country"   required type="text" class="form-control" id="inputCountry">
                </div>
            </div>
            <div class="form-group">
                <label for="inputСity" class="col-lg-2 control-label">Город</label>
                <div class="col-lg-10">
                    <input name="city" ng-model="info.city"   required type="text" class="form-control" id="inputСity">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-3">
                    <!--<button type="submit" class="btn  btn-default btn-exit" ng-click="logout()">Выход</button>-->

                    <button type="submit" class="btn btn-primary btn-save" ng-click="save(info, userInfoForm)">Сохранить</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

