<div id="jobs-list" xmlns="http://www.w3.org/1999/html">
    <table>
        <thead>
        <tr>
            <th>Наименование <a href="#/addJob" class="btn-add" >+</a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="job in jobs" ng-click="select(job)">
            <td>{{job.caption}}
                <a href="#/editJobs/{{job.id}}">
                    <i class="btn-edit"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
