<div id="news-list" xmlns="http://www.w3.org/1999/html">
    <div class="add-news">ээй, админ, расскажи что-нибудь новенькое <a href="#/news/add" class="btn btn-add btn-primary">лаадно</a></div>

    <div class="post" ng-repeat="info in news">
        <h1>
            <a href="#">{{info.caption}}</a>
            <a href="#/news/edit/{{info.id}}"><i class="btn-edit"></i></a>
            <span class="date">{{info.addDate|date:'dd MMMM HH:mm'}}</span>

        </h1>

        <div class="body">
            {{info.body}}
        </div>
        <div class="info">
            <div class="author">
                от {{info.author.userName}}
            </div>
            <div class="rating">
                <div class="vote-up" ng-click="voteUp(info.id)"></div>
                   <span class="rating-value"> {{info.rating}}</span>
                <div class="vote-down" ng-click="voteDown(info.id)"></div>
            </div>
        </div>
    </div>
</div>
