<div id="skill-ways-list" xmlns="http://www.w3.org/1999/html">
    <table>
        <thead>
        <tr>
            <th>Наименование <div ng-click="add()" class="btn-add" >+</div></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="way in ways">
            <td>
                <div ng-click="edit(way)">
                    {{way.caption}}
                    <i class="mdi-action-settings"></i>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>