<div id="skills-list" xmlns="http://www.w3.org/1999/html">
    <table>
        <thead>
        <tr>
            <th>Наименование <div ng-click="add()" class="btn-add" >+</div></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="skill in skills" ng-click="select(skill)">
            <td>{{skill.caption}}
                <div ng-click="edit(skill)">
                    <i class="btn-edit"></i>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>