<div id="news-detail">
    <form ng-submit="save()">
        <table>
            <tr> <td>caption</td>  <td class="sec-col"><input ng-model="NewsForm.caption" type="text" required></td> </tr>
            <tr> <td>body </td>  <td  class="sec-col"><textarea ng-model="NewsForm.body" required></textarea></td> </tr>
            <tr> <td>addDate</td>  <td  class="sec-col"><input ng-model="NewsForm.addDate" type="date"></td> </tr>
            <tr> <td>!author </td>  <td  class="sec-col"><textarea ng-model="NewsForm.author" required></textarea></td> </tr>
            <tr> <td>link </td>  <td  class="sec-col"><textarea ng-model="NewsForm.link" required></textarea></td> </tr>
            <tr> <td>!commentaries</td>  <td  class="sec-col"><textarea ng-model="NewsForm.commentaries" required></textarea></td> </tr>
            <tr> <td>rating </td>  <td  class="sec-col"><input type="number" ng-model="NewsForm.rating" required/></td> </tr>

        </table>
        <button type="submit" class="btn blue btn-save">Сохранить</button>
    </form>
</div>