<div id="news-detail">
    <form ng-submit="save()">
        <table>
            <tr> <td>caption</td>  <td class="sec-col"><input ng-model="NewsForm.caption" type="text" required></td> </tr>
            <tr> <td>body </td>  <td  class="sec-col"><textarea ng-model="NewsForm.body" required></textarea></td> </tr>
            <tr> <td>Дата: </td>  <td  class="sec-col">{{NewsForm.addDate|date:'yyyy-MM-dd HH:mm:ss'}}</td> </tr>
            <tr> <td>Автор: </td>  <td  class="sec-col">{{NewsForm.author.userName}}></textarea></td> </tr>
            <tr> <td>tags </td>  <td  class="sec-col"><input ng-model="NewsForm.tags"></td> </tr>
            <tr> <td>link </td>  <td  class="sec-col"><textarea ng-model="NewsForm.link"></textarea></td> </tr>
            <tr> <td>rating </td>  <td  class="sec-col"><input type="number" ng-model="NewsForm.rating"/></td> </tr>
        </table>
        <button type="submit" class="btn blue btn-save">Сохранить</button>
    </form>
</div>