<div id="job-detail">
    <form class="form-horizontal" ng-submit="save()">
        <fieldset>
            <legend>Информация о работе</legend>
            <div class="form-group">
                <label for="inputJobCaption" class="col-lg-2 control-label">Наименование</label>

                <div class="col-lg-10">
                    <input type="text" ng-model="JobsForm.caption" class="form-control" id="inputJobCaption"
                           placeholder="caption" required>
                </div>
            </div>
            <div class="form-group">
                <label for="jobEditor" class="col-lg-2 control-label">Описание</label>

                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" name ='jobEditor' id="jobEditor" ng-model="JobsForm.description"
                              placeholder="описание" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputJobParentId" class="col-lg-2 control-label">Выщестоящие работы</label>

                <div class="col-lg-10">
                    <select id="inputJobParentId"  class="form-control" ng-model="JobsForm.parentId" ng-options="job.id as job.caption for job in jobs">
                        <option value=''>- Выберите работу -</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <a href="#/jobs" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
