<div id="login-form">
    <div class="auth-col" method="POST" action="/j_spring_security_check">
        <h2 class="title">Вход</h2>
        <input type="text" class="input-login" placeholder="E-mail">
        <input type="password" class="password"  placeholder="Пароль">
        <a class="btn rose btn-login">Войти</a>
        <a href="#/registration" class="btn violet btn-reg">Регистрация</a>
    </div>
    <div class="auth-col">
        <div class="login-icons">
            <div id="uLogin1" data-uloginid="cc8fbc96">
            </div>
        </div>
    </div>
</div>