<div id="reg-form">
    <table class="reg-table">
        <tr><td class="main-data">Логин</td><td><input type="text" class="login"></td></tr>
        <tr><td class="main-data">Пароль</td><td><input type="text" class="password"></td></tr>
        <tr><td>Повторите пароль</td><td><input type="text" class="re-password"></td></tr>
        <tr><td>Ф.И.О.</td><td><input type="text" class="fio"></td></tr>
        <tr><td>Пол</td><td><input type="text" class="pol"></td></tr>
        <tr><td>Дата рождения</td><td class="birthday"><input type="text" class="date" placeholder="ДД"> / <input type="text" class="month" placeholder="ММ"> / <input type="text" class="year" placeholder="ГГГГ"></td></tr>
        <tr><td>Никнейм</td><td><input type="text" class="supername"></td></tr>
        <tr><td>Эл.почта</td><td><input type="text" class="email"></td></tr>
        <tr><td></td><td><a class="btn rose btn-save">Сохранить</a></td></tr>
    </table>

</div>

