<div id="job-container" xmlns="http://www.w3.org/1999/html">
    <div class="title">
        <img src="/resources/img/job-icon-0.png">
        <div class="info">

            <h1>{{job.caption}}</h1>
            <span class="job-description"  ng-bind-html="renderHtml(job.description)"></span>

        </div>
    </div>
    <h1 class="skills-title">Необходимые навыки <a ng-click="add()" class="btn" style="float:right" >Добавить навык</button></a>


    <div id="skills-list" xmlns="http://www.w3.org/1999/html">
        <table>
            <tbody>
            <tr ng-repeat="skill in skills" ng-click="select(skill)">
                <td ng-click="select(skill)">
                    <div>
                        <span>{{skill.caption}}</span>
                        <i ng-click="editSkill(skill); $event.stopPropagation();" class="btn-edit"></i>
                        <div class="rating">
                            <div class="vote-up" ng-click="voteUp(skill);  $event.stopPropagation();" ></div>
                            <span class="rating-value">{{skill.rating}}</span>
                            <div class="vote-down" ng-click="voteDown(skill);  $event.stopPropagation();"></div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
