/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html,
body {
  height: 100%;
}
body {
  background: #edeef2;
}
#wrap {
  height: 100%;
  width: 100%;
}
.box {
  max-width: 1440px;
  min-width: 1024px;
  margin: 0 auto;
}
/* ==========================================
          @Override bootstrap & bootswatch
   ========================================== */
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
/* ==========================================
                    header
   ========================================== */
#header .box {
  padding-left: 81px;
}
/* ==========================================
                    main
   ========================================== */
#main {
  height: 100%;
}
#main .box {
  min-height: 100%;
  background: #FFF;
}
#main .box .content {
  padding: 20px 48px 0 97px;
}
#main .box .left-panel {
  position: fixed;
  top: 0;
  width: 56px;
  height: 100%;
  background: url("../img/logo.png") #3499f3 no-repeat center 15px;
  box-shadow: black 0px 0px 22px -5px inset;
}
/* ==========================================
                    footer
   ========================================== */
#footer {
  background: #000;
  position: fixed;
  bottom: 0px;
  width: 100%;
  /* cause of fixed pos */
  height: 40px;
}
/* ==========================================
                    general
   ========================================== */
#general {
  margin: 100px;
  font-size: 30px;
  font-style: italic;
  text-align: center;
}
/* ==========================================
                 registration
   ========================================== */
#reg-form {
  width: 60%;
  padding: 100px 0 0 50px;
}
#reg-form .reg-table {
  font-family: Cambria;
  font-size: 28px;
  color: #75929d;
}
#reg-form .reg-table tr td {
  padding: 5px 0;
}
#reg-form .reg-table tr td:first-child {
  width: 180px;
}
#reg-form .reg-table tr .main-data {
  color: #8f664f;
}
#reg-form .reg-table .birthday input {
  width: 68px;
  text-align: center;
}
#reg-form .reg-table .birthday input.year {
  width: 120px;
}
#reg-form .reg-table .btn-save {
  margin-top: 5px;
  width: 100%;
}
/* ==========================================
                    login
   ========================================== */
#login-form {
  padding: 120px 0 0 230px;
}
#login-form .auth-col {
  width: 310px;
  float: left;
}
#login-form .auth-col input.input-password {
  background: url("../img/icon-pass.png") no-repeat #ffffff 14px 10px;
}
#login-form .auth-col input.input-login {
  background: url("../img/icon-email.png") no-repeat #ffffff 14px 10px;
}
#login-form .auth-col .btn-reg,
#login-form .auth-col .btn-login {
  width: 100%;
  margin-bottom: 16px;
}
#login-form .auth-col .login-icons {
  margin: 47px 0 0 47px;
}
/* ==========================================
                 news
   ========================================== */
#news-list .add-news {
  background: #f4f4f4;
  padding: 15px 10px;
  border-radius: 5px;
  box-shadow: #000000 0 0 20px -7px inset;
}
#news-list .post {
  padding: 10px;
  border-bottom: 1px solid #dae2e8;
}
#news-list .post .btn-edit {
  height: 20px;
  width: 20px;
  float: left;
  margin: 5px 0 0 -29px;
  background: url("../img/btn-edit.png") no-repeat;
  background-size: cover;
}
#news-list .post .btn-edit:hover {
  cursor: pointer;
  opacity: 0.6;
}
#news-list .post .date {
  float: right;
  color: #a9a9a9 ;
  font-size: 12px;
  line-height: 28px;
  padding-right: 20px;
}
#news-list .post h1 {
  font-size: 26px;
}
#news-list .post h1 a {
  color: #8b98aa;
}
#news-list .post .body {
  font-size: 14px;
  padding-bottom: 20px;
}
#news-list .post .info {
  display: inline-block;
}
#news-list .post .author {
  font-size: 11px;
  float: left;
  color: #a9a9a9;
}
#news-list .post .rating {
  float: left;
  margin-left: 20px;
}
#news-list .post .rating .rating-value {
  float: left;
}
#news-list .post .rating .vote-up,
#news-list .post .rating .vote-down {
  margin: 0 10px;
  width: 23px;
  height: 20px;
  display: block;
  float: left;
}
#news-list .post .rating .vote-up {
  background: url("../img/vote-up.png") no-repeat;
}
#news-list .post .rating .vote-down {
  background: url("../img/vote-down.png") no-repeat;
}
/* ==========================================
                 jobs,skills, skillWays
   ========================================== */
#job-container .job-name {
  color: #1a88eb;
  font-size: 16px;
  text-transform: uppercase;
}
#job-container .description-title {
  color: #5b9eb7;
  font-size: 16px;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
}
#job-container .job-description {
  color: #56585d;
  font-size: 16px;
}
#job-container .skills-title {
  color: #81899b;
  font-size: 16px;
}
#jobs-list .btn-add,
#jobs-list .btn-edit {
  text-align: center;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #07c507;
  float: right;
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}
#jobs-list .btn-add:hover,
#jobs-list .btn-edit:hover {
  opacity: 0.6;
}
#jobs-list .btn-edit {
  background: url("../img/btn-edit.png") no-repeat;
  background-size: cover;
}
#skills-list table,
#skill-ways-list table {
  background: #fff;
  width: 609px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#skills-list table th,
#skill-ways-list table th {
  text-align: left;
  padding: 5px 40px 5px 10px;
}
#skills-list table tr td,
#skill-ways-list table tr td {
  padding: 15px 40px;
  border-top: 1px solid #eaf2f7;
}
#skills-list table tr td:hover,
#skill-ways-list table tr td:hover {
  background: #d9edf7;
}
#skills-list table .btn-add,
#skill-ways-list table .btn-add,
#skills-list table .btn-edit,
#skill-ways-list table .btn-edit {
  text-align: center;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #07c507;
  float: right;
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}
#skills-list table .btn-add:hover,
#skill-ways-list table .btn-add:hover,
#skills-list table .btn-edit:hover,
#skill-ways-list table .btn-edit:hover {
  cursor: pointer;
  opacity: 0.6;
}
#skills-list table .btn-edit,
#skill-ways-list table .btn-edit {
  background: url("../img/btn-edit.png") no-repeat;
  background-size: cover;
}
#job-detail table td {
  padding: 5px 0;
}
#job-detail table td:first-child {
  width: 200px;
  font-size: 24px;
  font-family: Cambria;
  color: #75929d;
  vertical-align: middle;
}
#job-detail table td.sec-col {
  width: 600px;
}
#job-detail table td.sec-col input,
#job-detail table td.sec-col textarea {
  width: 100%;
}
#job-detail .btn-save {
  width: 350px;
  margin: 35px 0 0 200px;
}
