@import "mixins";
//@import "components";
html, body {
  height: 100%;
}

body{
  background: #edeef2;
}

#wrap {
  height: 100%;
  width: 100%;
}
.box{
  width: 1024px;
  margin: 0 auto;
}
/* ==========================================
          @Override bootstrap & bootswatch
   ========================================== */
.navbar{
  border-radius: 0;
  margin-bottom: 0;
}
/* ==========================================
                    header
   ========================================== */
#header {
  .box {
    padding-left: 81px;
  }
}

/* ==========================================
                    main
   ========================================== */
#main{
  .box{
    background: #FFF;
    position: absolute;
    top: 52px;
    bottom: 0;
    left: 0;
    right: 0;
    .content{
      padding: 20px 86px 0;
    }
    .left-panel{
      position: fixed;
      top: 0;
      width: 56px;
      height: 100%;
      background: url("../img/logo.png") #3499f3 no-repeat center 15px;
      box-shadow: black 0px 0px 22px -5px inset;
    }
  }
}
/* ==========================================
                    footer
   ========================================== */
#footer{
  background:#000;
  position:fixed;
  bottom:0px;
  width:100%; /* cause of fixed pos */
  height:40px;
}
/* ==========================================
                 registration
   ========================================== */
#reg-form{
  padding: 100px 0 0 50px;
  .reg-table{
    font-family: Cambria;
    font-size: 28px;
    color: #75929d;
    tr{
      td{
        padding: 5px 0;
        &:first-child{
          width: 180px;
        }
      }
      .main-data{
        color: #8f664f;
      }
    }
    .birthday{
      input{
        width:68px;
        text-align: center;
        &.year{
          width: 120px;
        }
      }
    }
    .btn-save{
      margin-top: 5px;
      width: 100%;
    }
  }
}
/* ==========================================
                    login
   ========================================== */
#login-form{
  padding: 120px 0 0 230px;
   .auth-col{
     width: 310px;
     float: left;
     .title{
       font-size: 30px;
       font-weight: bold;
       color:#8e8c8c;
       margin-bottom: 16px;
     }
     input{
       width: 100%;
       margin-bottom: 16px;
       &.input-password,
       &.input-login{
         padding-left: 42px;

       }
       &.input-password{
         background: url("../img/icon-pass.png") no-repeat #FFF  14px 10px;
       }
       &.input-login{
         background: url("../img/icon-email.png") no-repeat #FFF  14px 10px;
       }
     }

     .btn-reg,.btn-login{
       width: 100%;
       margin-bottom: 16px;
     }
     .login-icons{
       margin: 47px 0 0 47px;
     }
   }
}
/* ==========================================
                 news
   ========================================== */
#news-list{
  .add-news{
    background: #f4f4f4;
    padding: 15px 10px;
    border-radius: 5px;
    box-shadow: #000 0 0 20px -7px inset;
  }
  .post{
    padding: 10px;
    border-bottom: 1px solid #dae2e8;
    .btn-edit,{
      height: 20px;
      width: 20px;
      float: left;
      margin: 5px 0 0 -29px;
      background: url("../img/btn-edit.png") no-repeat;
      background-size: cover;

      &:hover{
        cursor: pointer;
        opacity: 0.6;
      }
    }

    .date{
      float: right;
      color:#a9a9a9 ;
      font-size: 12px;
      line-height: 28px;
      padding-right: 20px;
    }
    h1{
      font-size: 26px;
      a{
        color: #8b98aa;
      }
    }
    .body{
      font-size: 14px;
      padding-bottom: 20px;
    }
    .info{
      display: inline-block;
    }
    .author{
      font-size: 11px;
      float: left;
      color: #a9a9a9;
    }
    .rating{
      float: left;
      margin-left: 20px;
    }
  }
}





/* ==========================================
                 jobs,skills
   ========================================== */
#jobs-list,
#skills-list{
  table{
    background: #fff;
    margin: 30px  auto;
    width: 609px;
    .border-radius(3px,3px,3px,3px);
    th{
      text-align: left;
      padding: 5px 40px 5px 10px;
    }
    tr{
      td{
        padding: 15px 40px;
        border-top: 1px solid #eaf2f7;
        &:hover{
          background:#d9edf7;
        }
      }
    }
    .btn-add,.btn-edit,{
      text-align: center;
      height: 20px;
      width: 20px;
      border-radius: 10px;
      background: #07c507;
      float: right;
      text-decoration: none;
      color: #FFF;

      &:hover{
        cursor: pointer;
        opacity: 0.6;
      }
    }
    .btn-edit{
      background: url("../img/btn-edit.png") no-repeat;
      background-size: cover;
    }
  }
}
#job-detail{
  table{
    td{
      padding: 5px 0;
      &:first-child{
        width: 200px;
        font-size: 24px;
        font-family: Cambria;
        color:#75929d;
        vertical-align: middle;
      }
      &.sec-col{
        width: 600px;
        input,textarea{
          width: 100%;
        }
      }
    }

  }
  .btn-save{
    width:350px;
    margin: 35px 0 0 200px;
  }
}